In [11]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
import gmaps

# Census API Keys
from config import api_key
c = Census(api_key, year=2018)

### Senior Male Census Data

In [32]:
census_data_male = c.acs1.get(("NAME", "B01003_001E", "B01001_020E", "B01001_021E", "B01001_022E",
                          "B01001_023E",
                          "B01001_024E",
                          "B01001_025E"), {'for': 'state:*'})

In [33]:
census_pd_male = pd.DataFrame(census_data_male)

In [34]:
census_pd_male = census_pd_male.rename(columns={"B01003_001E": "Population",
                                                "NAME": "Name", "state": "State"})

In [57]:
col = list(census_pd_male)

In [62]:
col = col[2:-1]

In [63]:
census_pd_male['Seniors'] = census_pd_male[col].sum(axis=1)

### Senior Female Census Data

In [66]:
census_data_f = c.acs1.get(("NAME", "B01001_044E", "B01001_045E", "B01001_046E", "B01001_047E",
                          "B01001_048E",
                          "B01001_049E"), {'for': 'state:*'})

In [68]:
census_pd_f = pd.DataFrame(census_data_f)

In [72]:
census_pd_f = census_pd_f.rename(columns={"NAME": "Name", "state": "State"})

In [75]:
colf = list(census_pd_f)
colf = colf[1:-1]

In [92]:
census_pd_f['Seniorsf'] = census_pd_f[colf].sum(axis=1)

In [93]:
census_pd_f = census_pd_f[['Name', 'Seniorsf']]

In [106]:
census_pd_f

                    Name   Seniorsf
0                  Maine   151196.0
1         North Carolina   950712.0
2                Georgia   822753.0
3                 Alaska    43683.0
4                Alabama   468693.0
5                Vermont    67099.0
6                 Nevada   251204.0
7          West Virginia   196488.0
8               Oklahoma   343864.0
9              Wisconsin   536561.0
10           Puerto Rico   373339.0
11              Virginia   733844.0
12          North Dakota    62667.0
13        South Carolina   500498.0
14                Oregon   398831.0
15               Wyoming    50497.0
16            California  3145820.0
17           Mississippi   268754.0
18           Connecticut   345275.0
19                 Texas  1993719.0
20              Maryland   529562.0
21               Florida  2393229.0
22         Massachusetts   644751.0
23  District of Columbia    50396.0
24                  Utah   187229.0
25              New York  1830958.0
26            New Jersey   817766.0
27                  Ohio  1121286.0
28              Missouri   578254.0
29          Pennsylvania  1311544.0
30              Michigan   951250.0
31              Nebraska   167153.0
32                 Idaho   146975.0
33            New Mexico   200155.0
34                Hawaii   142768.0
35          South Dakota    78374.0
36            Washington   631632.0
37          Rhode Island   103090.0
38               Arizona   679703.0
39             Tennessee   615539.0
40                Kansas   255071.0
41              Colorado   438527.0
42               Indiana   588609.0
43              Kentucky   408000.0
44             Louisiana   405111.0
45              Illinois  1120812.0
46                  Iowa   298303.0
47         New Hampshire   133054.0
48              Arkansas   281554.0
49              Delaware    99777.0
50             Minnesota   485580.0
51               Montana   104046.0

### Combine Male and Female Data

In [117]:
census_data = census_pd_male[['Name', 'Population', 'Seniors']].set_index('Name')

In [118]:
census_data = census_data.join(census_pd_f.set_index('Name'))

In [119]:
census_data['Percent of Seniors'] = (census_data['Seniors'] + census_data['Seniorsf'])/census_data['Population']

In [120]:
census_data = census_data[['Population', 'Percent of Seniors']].reset_index()

In [121]:
census_data

                    Name  Population  Percent of Seniors
0                  Maine   1338404.0            0.206267
1         North Carolina  10383620.0            0.162619
2                Georgia  10519475.0            0.138451
3                 Alaska    737438.0            0.119332
4                Alabama   4887871.0            0.169739
5                Vermont    626299.0            0.197789
6                 Nevada   3034392.0            0.156578
7          West Virginia   1805832.0            0.200027
8               Oklahoma   3943079.0            0.157136
9              Wisconsin   5813568.0            0.169686
10           Puerto Rico   3195153.0            0.206943
11              Virginia   8517685.0            0.154763
12          North Dakota    760077.0            0.153186
13        South Carolina   5084127.0            0.176973
14                Oregon   4190713.0            0.176488
15               Wyoming    577737.0            0.167130
16            California  39557045.0            0.143270
17           Mississippi   2986530.0            0.158854
18           Connecticut   3572665.0            0.171622
19                 Texas  28701845.0            0.125414
20              Maryland   6042718.0            0.154077
21               Florida  21299325.0            0.204644
22         Massachusetts   6902149.0            0.164810
23  District of Columbia    702455.0            0.121895
24                  Utah   3161105.0            0.111131
25              New York  19542209.0            0.164366
26            New Jersey   8908520.0            0.161451
27                  Ohio  11689442.0            0.170766
28              Missouri   6126452.0            0.168952
29          Pennsylvania  12807060.0            0.182116
30              Michigan   9995915.0            0.172116
31              Nebraska   1929268.0            0.157572
32                 Idaho   1754208.0            0.159298
33            New Mexico   2095428.0            0.175850
34                Hawaii   1420491.0            0.184068
35          South Dakota    882235.0            0.165895
36            Washington   7535591.0            0.154465
37          Rhode Island   1057315.0            0.172744
38               Arizona   7171646.0            0.175567
39             Tennessee   6770010.0            0.163190
40                Kansas   2911510.0            0.158746
41              Colorado   5695564.0            0.141839
42               Indiana   6691878.0            0.157078
43              Kentucky   4468402.0            0.163681
44             Louisiana   4659978.0            0.154638
45              Illinois  12741080.0            0.156231
46                  Iowa   3156145.0            0.170403
47         New Hampshire   1356458.0            0.180732
48              Arkansas   3013825.0            0.168449
49              Delaware    967171.0            0.186891
50             Minnesota   5611179.0            0.158368
51               Montana   1062305.0            0.188495

In [122]:
census_data = census_data[census_data['Name'].isin(['California', 'Florida', 'New York', 
                                                  'Michigan', 'New Jersey', 'Washington'])]

In [123]:
census_data

          Name  Population  Percent of Seniors
16  California  39557045.0            0.143270
21     Florida  21299325.0            0.204644
25    New York  19542209.0            0.164366
26  New Jersey   8908520.0            0.161451
30    Michigan   9995915.0            0.172116
36  Washington   7535591.0            0.154465