In [1]:
import pandas as pd
import numpy as np
import datetime as dt

from datetime import datetime
from datetime import timedelta, date
from IPython.display import display

from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

In [44]:
dates_list=[]
dates_list_1=[]
dates_list_2=[]
# dt start='01-22-2020';
# df finish='03-28-2020';

def daterange(start_date, end_date):
      for n in range(int ((end_date - start_date).days)):
             yield start_date + timedelta(n)
start_date = date(2020, 1, 22)
end_date = date(2020, 2, 2)
for single_date in daterange(start_date, end_date):
    dates_list.append(single_date.strftime("%m-%d-%Y")+'.csv')
print(dates_list)
start_date1 = date(2020, 2, 2)
end_date1 = date(2020, 3, 22)
for each_single_date in daterange(start_date1, end_date1):
    dates_list_1.append(each_single_date.strftime("%m-%d-%Y")+'.csv')
print(dates_list_1)
start_date2 = date(2020, 3, 23)
end_date2 = date(2020, 3, 29)
for each_s_date in daterange(start_date2, end_date2):
    dates_list_2.append(each_s_date.strftime("%m-%d-%Y")+'.csv')
dates_list_2

['01-22-2020.csv', '01-23-2020.csv', '01-24-2020.csv', '01-25-2020.csv', '01-26-2020.csv', '01-27-2020.csv', '01-28-2020.csv', '01-29-2020.csv', '01-30-2020.csv', '01-31-2020.csv', '02-01-2020.csv']
['02-02-2020.csv', '02-03-2020.csv', '02-04-2020.csv', '02-05-2020.csv', '02-06-2020.csv', '02-07-2020.csv', '02-08-2020.csv', '02-09-2020.csv', '02-10-2020.csv', '02-11-2020.csv', '02-12-2020.csv', '02-13-2020.csv', '02-14-2020.csv', '02-15-2020.csv', '02-16-2020.csv', '02-17-2020.csv', '02-18-2020.csv', '02-19-2020.csv', '02-20-2020.csv', '02-21-2020.csv', '02-22-2020.csv', '02-23-2020.csv', '02-24-2020.csv', '02-25-2020.csv', '02-26-2020.csv', '02-27-2020.csv', '02-28-2020.csv', '02-29-2020.csv', '03-01-2020.csv', '03-02-2020.csv', '03-03-2020.csv', '03-04-2020.csv', '03-05-2020.csv', '03-06-2020.csv', '03-07-2020.csv', '03-08-2020.csv', '03-09-2020.csv', '03-10-2020.csv', '03-11-2020.csv', '03-12-2020.csv', '03-13-2020.csv', '03-14-2020.csv', '03-15-2020.csv', '03-16-2020.csv', '03-17-2020.csv', '03-18-2020.csv', '03-19-2020.csv', '03-20-2020.csv', '03-21-2020.csv']

['03-23-2020.csv',
 '03-24-2020.csv',
 '03-25-2020.csv',
 '03-26-2020.csv',
 '03-27-2020.csv',
 '03-28-2020.csv']

In [45]:
init_path='csse_covid_19_daily_reports/'+dates_list[0]
init_date_df=pd.read_csv(init_path)
for each_date in dates_list[1:]:
    loop_date_path='csse_covid_19_daily_reports/'+each_date
    new_date_df=pd.read_csv(loop_date_path)
    init_date_df=pd.concat([init_date_df, new_date_df], axis=0, sort=True)

covid_start_df=init_date_df.rename(columns={"Country/Region":"Country_Region","Last Update":"Last_Update","Latitude":"Lat","Longitude":"Long_","Province/State":"Province_State"})
covid_start_df

,Confirmed,Country_Region,Deaths,Last_Update,Province_State,Recovered
0,1.0,Mainland China,NaN,1/22/2020 17:00,Anhui,NaN
1,14.0,Mainland China,NaN,1/22/2020 17:00,Beijing,NaN
2,6.0,Mainland China,NaN,1/22/2020 17:00,Chongqing,NaN
3,1.0,Mainland China,NaN,1/22/2020 17:00,Fujian,NaN
4,NaN,Mainland China,NaN,1/22/2020 17:00,Gansu,NaN
...,...,...,...,...,...,...
62,1.0,US,0.0,2/1/2020 19:53,"Los Angeles, CA",0.0
63,1.0,US,0.0,2/1/2020 19:53,"Orange, CA",0.0
64,1.0,US,0.0,2/1/2020 19:53,"Santa Clara, CA",0.0
65,1.0,US,0.0,2/1/2020 19:43,"Seattle, WA",0.0
66,1.0,US,0.0,2/1/2020 19:43,"Tempe, AZ",0.0

In [73]:
def func(x):
    if x[4] == '-':
        y = datetime.strptime(x, '%Y-%m-%d').date()
    else:
        y = datetime.strptime(x, '%m/%d/%Y').date()
    return y

In [69]:
x = covid_start_df["Last_Update"].tolist()[0][:-6]
y = covid_start_df["Last_Update"].tolist()[1][:-6]
x1 = datetime.strptime(x, '%m/%d/%Y').date()
y1 = datetime.strptime(y, '%m/%d/%Y').date()

datetime.date(2020, 1, 22)

In [48]:
covid_start_df["Last_Update"].str.slice(stop=9)
# covid_start_df['date']=covid_start_df["Last_Update"].str.slice(stop=7)
# covid_start_df

0     1/22/2020
1     1/22/2020
2     1/22/2020
3     1/22/2020
4     1/22/2020
        ...
62    2/1/2020
63    2/1/2020
64    2/1/2020
65    2/1/2020
66    2/1/2020
Name: Last_Update, Length: 560, dtype: object

In [16]:
init_path_1='csse_covid_19_daily_reports/'+dates_list_1[0]
init_date_df_1=pd.read_csv(init_path_1)
for each_date in dates_list_1[1:]:
    loop_date_path_1='csse_covid_19_daily_reports/'+each_date
    new_date_df_1=pd.read_csv(loop_date_path_1)
    init_date_df_1=pd.concat([init_date_df_1, new_date_df_1], axis=0, sort=True)
covid_2_df=init_date_df_1.rename(columns={"Country/Region":"Country_Region","Last Update":"Last_Update","Latitude":"Lat","Longitude":"Long_","Province/State":"Province_State"})

covid_2_df["Last_Update"].str.slice(stop=10)



# for each_date in :
#     each_date.strftime("%m/%d/%Y, %H:%M:%S")

# date_time.strftime("%m/%d/%Y)
# covid_2_df['date']=

0      2020-02-02
1      2020-02-02
2      2020-02-02
3      2020-02-02
4      2020-02-02
          ...
299    2020-03-17
300    2020-03-17
301    2020-03-17
302    2020-03-19
303    2020-03-18
Name: Last_Update, Length: 7057, dtype: object

In [72]:
z = covid_2_df['Last_Update'].tolist()[0][:-9]
datetime.strptime(z, '%Y-%m-%d').date()
z

'-'

In [17]:
# covid_2_df['date']=pd.to_dateime(covid_2_df['Last_Update'], format='%m/%d/%Y')

In [37]:
single_df=pd.read_csv('csse_covid_19_daily_reports/03-22-2020.csv')
single_df.drop(['Active','Admin2','Combined_Key','FIPS'], axis=1)
single_df['date']=single_df["Last_Update"].str.slice(stop=8) + '20'
single_df['date']

0       3/22/20 20
1       3/22/20 20
2       3/22/20 20
3       3/22/20 20
4       3/22/20 20
           ...
3412    3/22/20 20
3413    3/22/20 20
3414    3/22/20 20
3415    3/22/20 20
3416    3/22/20 20
Name: date, Length: 3417, dtype: object

In [22]:
init_path_2='csse_covid_19_daily_reports/'+dates_list_2[0]
init_date_df_2=pd.read_csv(init_path_2)
for each_date in dates_list_2[1:]:
    loop_date_path_2='csse_covid_19_daily_reports/'+each_date
    new_date_df_2=pd.read_csv(loop_date_path_2)
    init_date_df_2=pd.concat([init_date_df_2, new_date_df_2], axis=0, sort=True)
init_date_df_2
covid_3_df=init_date_df_2.drop(['Active','Admin2','Combined_Key','FIPS'], axis=1)
covid_3_df

,Confirmed,Country_Region,Deaths,Last_Update,Lat,Long_,Province_State,Recovered
0,1,US,0,2020-03-23 23:19:34,34.223334,-82.461707,South Carolina,0
1,1,US,0,2020-03-23 23:19:34,30.295065,-92.414197,Louisiana,0
2,1,US,0,2020-03-23 23:19:34,37.767072,-75.632346,Virginia,0
3,13,US,0,2020-03-23 23:19:34,43.452658,-116.241552,Idaho,0
4,1,US,0,2020-03-23 23:19:34,41.330756,-94.471059,Iowa,0
...,...,...,...,...,...,...,...,...
3425,119,Venezuela,2,2020-03-28 23:05:25,6.423800,-66.589700,NaN,39
3426,174,Vietnam,0,2020-03-28 23:05:25,14.058324,108.277199,NaN,21
3427,98,West Bank and Gaza,1,2020-03-28 23:05:25,31.952200,35.233200,NaN,18
3428,28,Zambia,0,2020-03-28 23:05:25,-13.133897,27.849332,NaN,0
3429,7,Zimbabwe,1,2020-03-28 23:05:25,-19.015438,29.154857,NaN,0

In [35]:
covid_3_df["Last_Update"].str.slice(stop=10)
# covid_3_df['date']=covid_3_df["Last_Update"].str.slice(stop=9)
# covid_3_df

0       2020-03-23
1       2020-03-23
2       2020-03-23
3       2020-03-23
4       2020-03-23
           ...
3425    2020-03-28
3426    2020-03-28
3427    2020-03-28
3428    2020-03-28
3429    2020-03-28
Name: Last_Update, Length: 20532, dtype: object

In [ ]:
# covid_start_df['Last_Update'].str.slice(start=)
# covid_start_df['Last_Update']=pd.to_datetime(covid_start_df.Last_Update, format='%m/%d/%Y')
covid_start_df['date']=covid_start_df['Last_Update'].dt.normailize()
# to_datetime().date() for de in df
# t_each_d.strftime("%m/%d/%Y)
covid_start_df['date']=pd.to_datetime(covid_start_df['Date'], errors='coerce')
covid_start_df['date']